* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4f608f;
}

.quote-block {
  min-height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #7986ac;
  position: relative;
}

.btn {
  width: 45%;
  height: 60px;
  align-self: center;
  font-size: 18px;
  font-family: cursive;
  border: none;
  border-radius: 3px;
  background-color: #427a82;
  margin-bottom: 200px;
}

.btn:hover {
  box-shadow: #427a82 4px 4px 20px;
  box-shadow: #427a82 3px 3px 20px;
  box-shadow: #427a82 2px 2px 20px;
}

.icon {
  font-size: 80px;
  color: #162756;
  float: left;
}

.content {
  margin: 0px 50px;
  font-size: 20px;
  font-family: cursive;
  position: absolute;
}

.quote {
  color: #162756;
  font-weight: 900;
}

.author {
  text-align: right;
  margin-right: 50px;
  margin-bottom: 30px;
  font-family: cursive;
  color: #162756;
  font-weight: 700;
  font-size: 18px;
}
